$blue:  #4285f4;
$color-blue-container: #B7E5FF;
$color-green-container: #BBFF91;
$color-red-container: #CC6A6E;
$color-yellow-container: #FFFD9E;
$darker-red: #c0392b;
$green: #0f9d58;
$main-size: 500px;
$offset-circle: 100px;
$red: #e74c3c;

body {
  font-size: 15px;
}

.btn {
  border-radius: 2px;
  border-width: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: #fff;
  display: inline-block;
  margin: 10px;
  outline: none;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  transition: background-color .3s;
  &.size {
    width: 38%;
  }
  &.green {
    background-color: $green;
    color: white;
    &:hover {
      background-color: #0FB458;
    }
  }
  &.done {
    float: right;
  }
  &.blue {
    background-color: $blue;
    color: white;
    &:hover {
      background-color: darken($blue, 20%);
    }
  }
  &.red {
    background-color: $red;
    color: white;
    &:hover {
      background-color: $darker-red;
    }
  }

}

.color-container {
  position: relative;
  padding: 5px;
}

.color-green-container {
  background-color: $color-green-container;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 10px;
  position: absolute;
  right: $offset-circle - 20px;
  text-align: center;
  width: 20px;
  z-index: 100;
}

$offset-circle: $offset-circle - 20px;
.color-blue-container {
  background-color: $color-blue-container;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 10px;
  position: absolute;
  right: $offset-circle - 20px;
  text-align: center;
  width: 20px;
  z-index: 100;
}

$offset-circle: $offset-circle - 20px;
.color-red-container {
  background-color: $color-red-container;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 10px;
  position: absolute;
  right: $offset-circle - 20px;
  text-align: center;
  width: 20px;
  z-index: 100;
}

$offset-circle: $offset-circle - 20px;
.color-yellow-container {
  background-color: $color-yellow-container;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 10px;
  position: absolute;
  right: $offset-circle - 20px;
  text-align: center;
  width: 20px;
  z-index: 100;
}

.cursor {
  cursor: pointer;
  padding-left: 10px;
}
.cursor-edit {
  cursor: pointer;
  float: right;
  padding-left: 10px;
}

.add-objects{
  background: #E3DDFF;
  width: 100%;
}

.add-container {
  background: #E3DDFF;
  display: inline-block;
  margin: 10px;
  padding: 20px;
  width: 500px;
}

.note-todoList-container {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  width: $main-size;
}

.list-input {
  border: none;
  font-size: 18px;
  height: 30px;
  width: 380px;
}

.hide-element {
  display: none;
}

.main-container {
  display: inline-block;
  text-align: -webkit-center;
  width: 100%;
}

.main-div {
  border: none;
  font-size: 18px;
  height: 40px;
  text-align: left;
  width: 460px;
}
.edit-div {
  border: none;
  font-size: 18px;
  padding-top: 3px;
  padding-right: 10px;
  text-align: left;
  width: 460px;
}

.description-input, .todo-input {
  background: transparent;
  border: none;
  font-size: 18px;
  height: 40px;
  width: 360px;
}

.title-input {
  background: transparent;
  border: none;
  font-size: 18px;
  height: 40px;
  width: 460px;
}

.todo-completed {
  text-decoration: line-through;
}

.padding-right {
  padding-right: 10px;
}

.margin-top{
  margin-top: 40px;
}
  
.search-bar{
  background: #393740;
}

.search{
  background: transparent;;
  border: none;
  font-size: 18px;
  height: 40px;
  width: 360px;
  color: white;
}